// CONTAINER   => in CONTAINERS
$mw: 1200px;
$newMw: $mw + 30px; // $mw + padding 15px and 15px

// DEFAULT FONT   => in BASE
$font-family: system-ui, sans-serif;

// DEFAULT FONT-WEIGHT   => in BASE
$font-weight: 400;

// DEFAULT FONT-SIZE   => in BASE
$font-size: 14px;

// DEFAULT FONT-COLOR   => in BASE
$color: #2F2F2F;

// DEFAULT BACKGROUND-COLOR   => in BASE
$bg-color: #f5f7ff;
